@model ClientApplication.Models.Client
@{
    ViewData["Title"] = "Visoki napon";
    Layout = "~/Views/Shared/_ClientAnsweringLayout.cshtml";
}
<img src="slika.jpg" alt="slika igraca">
<!--<button class="button">T</button>
<button class="button">slicica za zamenu</button>
<button class="button">slicica za zamenu</button>-->
<div class="value">100.000</div>
<div class="question">Koja je najveca drzava u Evropi?</div>
<input type="text" name="username" placeholder="Va odgovor..">
