<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Visoki napon</title>
    <style type="text/css">

        html {
            background: url("Images/questions-matrix-background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        input[type=text], select {
            width: 350px;
            height: 50px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #ccc2d6;
            position: absolute;
            bottom: 18.3%;
            left: 37%;
            background-color: #ccc2d6;
            color: white;
        }

        .value {
            width: 150px;
            height: 50px;
            position: absolute;
            bottom: 57%;
            left: 43%;
            background-color: #ccc2d6;
            border: 2px solid #dad8d7;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            font-size: 18px;
            border-radius: 4px;
        }

        .question {
            width: 900px;
            height: 200px;
            position: absolute;
            bottom: 27%;
            left: 17%;
            background-color: #614e75;
            border: 2px solid #dad8d7;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 200px;
            font-size: 20px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <img src="slika.jpg" alt="slika igraca">
    <!--<button class="button">T</button>
    <button class="button">slicica za zamenu</button>
    <button class="button">slicica za zamenu</button>-->
    <div class="value">100.000</div>
    <!-- dodati kasnije -->
    <div class="question">Koja je najveca drzava u Evropi?</div>
    <input type="text" name="username" placeholder="Vaš odgovor..">
</body>
</html>
