@model ClientApplication.Models.Client
@{
    ViewData["Title"] = "Visoki napon";
    Layout = "~/Views/Shared/_ClientQuestionLayout.cshtml";
}


<form class="container">
<table cellspacing="0" ; border-collapse: collapse; border-spacing:0 0px>
    <col width="50">
    <col width="50">
    <tr>
        <td><button class="button">1</button></td>
        <td><button class="button">9</button></td>
    </tr>
    <tr>
        <td><button class="button">2</button></td>
        <td><button class="button">10</button></td>
    </tr>
    <tr>
        <td><button class="button">3</button></td>
        <td><button class="button">11</button></td>
    </tr>
    <tr>
        <td><button class="button">4</button></td>
        <td><button class="button">12</button></td>
    </tr>
    <tr>
        <td><button class="button">5</button></td>
        <td><button class="button">13</button></td>
    </tr>
    <tr>
        <td><button class="button">6</button></td>
        <td><button class="button">14</button></td>
    </tr>
    <tr>
        <td><button class="button">7</button></td>
        <td><button class="button">15</button></td>
    </tr>
    <tr>
        <td><button class="button">8</button></td>
        <td><button class="button">16</button></td>
    </tr>
</table>
</form>


