<!DOCTYPE html>
<html>
<head>
    <title>Visoki napon</title>

    <style type="text/css">

        html {
            background: url("Images/questions-matrix-background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .button {
            width: 150px;
            background-color: #614e75;
            border: 2px solid #dad8d7;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            cursor: pointer;
        }

            .button:hover {
                background-color: #4c3d5c;
                border: 2.25px solid #918b88;
            }

        .container {
            position: absolute;
            top: 55%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    </style>
</head>
<body>

    <form class="container">
        <table cellspacing="0" ; border-collapse: collapse; border-spacing:0 0px>
            <col width="50">
            <col width="50">
            <tr>
                <td><button class="button">1</button></td>
                <td><button class="button">9</button></td>
            </tr>
            <tr>
                <td><button class="button">2</button></td>
                <td><button class="button">10</button></td>
            </tr>
            <tr>
                <td><button class="button">3</button></td>
                <td><button class="button">11</button></td>
            </tr>
            <tr>
                <td><button class="button">4</button></td>
                <td><button class="button">12</button></td>
            </tr>
            <tr>
                <td><button class="button">5</button></td>
                <td><button class="button">13</button></td>
            </tr>
            <tr>
                <td><button class="button">6</button></td>
                <td><button class="button">14</button></td>
            </tr>
            <tr>
                <td><button class="button">7</button></td>
                <td><button class="button">15</button></td>
            </tr>
            <tr>
                <td><button class="button">8</button></td>
                <td><button class="button">16</button></td>
            </tr>
        </table>
    </form>


</body>
</html>
