@model ClientApplication.Models.Client
@{
    ViewData["Title"] = "Visoki napon";
    Layout = "~/Views/Shared/_ClientQuestionLayout.cshtml";
}

<img src="Images/logo.png" alt="logo" class="center">
<!-- polje za unos imena i prezimena -->
<form class="container">
    <button class="button" onclick="window.location.href='@Url.Action("ModeChoosing","MatrixOfQuestions")'">Vezbaj</button>
    <button class="button disabled">Takmici se</button>
</form>
