@model ClientApplication.Models.Client
@{
    ViewData["Title"] = "Visoki napon";
    Layout = "~/Views/Shared/_ClientQuestionLayout.cshtml";
}

<div class="value">100.000</div>
<div class="question">Koja je najveca drzava u Evropi?</div>

