p{
  border-radius: 2px;
  border: 1px solid #d8dad7;
  background-color: #c97dc9;
  box-shadow: 2px 3px 3px #d8dad7;
  padding: 3px 3px;
}

.feedback{
  width: 700px;
  height: 40px;
  position: absolute;
  margin: 0px 30px 10px 30px;
  background-color: #35373b;
  border: 2px solid #dad8d7;
  color: white; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  border-radius: 4px;
}

.tender_feedback{
  width: 500px;
  height: 40px;
  left: 70px;
  margin: 0px 30px 10px 70px;
  position: relative;
  background-color: #35373b;
  border: 2px solid #dad8d7;
  color: white; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  border-radius: 4px;
  margin: 35px 0px 10px 0px;
  box-shadow: 5px 5px 5px #dad8d7;
}

.value_of_question{
  width: 300px;
  height: 50px;
  position: relative;
  left: 150px;
  right: 150px;
  background-color: #ccc2d6;
  border: 2px solid #dad8d7;
  color: white; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  border-radius: 4px;
}

.question{
  width: 900px;
  height: 200px;
  position: relative;
  top: 0px;
  background-color: #614e75;
  border: 2px solid #dad8d7;
  color: white;
  text-align: center; 
  vertical-align: middle;
  line-height: 200px;
  font-size: 20px;
  border-radius: 4px;
}

input[type=text], select {
  width: 360px;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:#ccc2d6;
  position: absolute;
  top: 295px;
  left: 37%;
  background-color: #ccc2d6;
  color: white;
}

.wonAmount{
  width: 300px;
  height: 50px;
  position: relative;
  top: 100px;
  left: 200px;
  background-color: #35373b;
  border: 2px solid #dad8d7;
  color: white;	
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  border-radius: 4px;
}

.tender_container{
  position: relative;
  top: -150px;
  left: -200px;
}

.tenderHelpDiv{
  display: flex;
}

.tender{
  width: 50px;
  height: 50px;
  position: static;
  left: 232px;
  background-color: #ccc2d6;
  border: 2px solid #dad8d7;
  color: white; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 28px;
  border-radius: 4px;
}

.tender:disabled{
  width: 50px;
  height: 50px;
  position: static;
  left: 232px;
  background-color: #ffb3b3;
  border: 2px solid #ffb3b3;
  color: white; 
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 28px;
  border-radius: 4px;
}

.replaceQuestion1{
  width: 50px;
  height: 50px;
  position: static;
  left: 282px;
  background-color: #ccc2d6;
  border: 2px solid #dad8d7;
  border-radius: 4px;
}

.replaceQuestion2{
  width: 50px;
  height: 50px;
  position: static;
  left: 332px;
  background-color: #ccc2d6;
  border: 2px solid #dad8d7;
  border-radius: 4px;
}
 
.replaceQuestion1:disabled{ 
  background-color: #ffb3b3;
}

.replaceQuestion2:disabled{
  background-color: #ffb3b3;
}

.timer{
  width: 50px;
  height: 50px;
  position: relative;
  left: 400px;
  text-align: center;
  color: white;
  background-color: #ccc2d6;
  border: 2px solid #dad8d7;
  border-radius: 4px;
}

.container{
  position: relative;
  top: -120px;
}

.inform {
	color : white;
	font-size: 150%;
	font-weight: bold; 
	width: 848px;
	text-align: center;
}
