<form >
    <div class = "form-group">
        <label class = "feedback" [hidden]="wrong">
            {{ End==16 ? "ČESTITAMO!" : "POGREŠAN ODGOVOR :-("}} Osvojeno: {{GuaranteedSum}}</label>
        <label class = "valuOfQuestion">Vrednost pitanja: {{Price}} </label>
        <label for ="answer" class="question">{{ QTextArray[Number] ? QTextArray[Number] : 'null' }}</label>
            <input
                [disabled]="!wrong"
                #inputstring (keydown.enter)="checkAnswer(inputstring.value)"
                ngModel
                name ="answer"
                id = "answer"
                type = "text"
                placeholder="Unesite odgovor...."
             class = "form-control">
        <label class = "wonAmount">Osvojeno: {{Sum}} </label>
        
        </div>    
</form>
 