<form class="container2">
    <div class = "form-group">	
		<label class="head-title"> SIGN UP </label>
        <label for ="email">Email</label>
        <input
            required
            ngModel
            name ="email"
            id = "email"
            type = "text"
			pattern = "[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}"
			#email = "ngModel"	
            class = "form-control" #emailparam>
			<div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email je obavezan...</div>
                <div *ngIf="email.errors.pattern">Uneli ste neispravan mail...</div>
			</div>
	</div>
	
	<div class = "form-group">
        <label for ="name">Ime</label>
        <input
            required
            maxlength="30"
            ngModel
            name ="name"
            id = "name"
            type = "text"
            class = "form-control" #nameparam>
	</div>	
	
	<div class = "form-group">
        <label for ="surname">Prezime</label>
        <input
            required
            maxlength="30"
            ngModel
            name ="surname"
            id = "surname"
            type = "text"
            class = "form-control" #surnameparam>
	</div>	
			
	<div class = "form-group">
      <label for ="username">Username</label>
        <input
            required
            minlength="5"
            maxlength="24"
            ngModel
            name ="newusername"
            id = "newusername"
            type = "text"
            pattern = "^[a-zA-Z0-9]+(?:[-_]?[a-zA-Z0-9]+)*$"
            #newusername = "ngModel"
            class = "form-control" #newusernameparam >
            <div class="alert alert-danger" *ngIf="newusername.touched && !newusername.valid">
                <div *ngIf="newusername.errors.required">Korisnicko ime je obavezno...</div>
                <div *ngIf="newusername.errors.minlength">Korisnicko ime mora imati minimum 5 karaktera...</div>
                <div *ngIf="newusername.errors.pattern">Korisnicko ime mora poceti slovom ili brojem, 
                    moze sadrzati - i _ kao separatore, i ne sme se zavrsiti istim. </div>
			</div>
	</div>	
			
    <div class = "form-group">
        <label for ="password">Password</label>
        <input
            ngModel
            required
            minlength="8"
            maxlength="18"
            name = "newpassword"
            id = "newpassword"
            [type] = "s_h1 ? 'text' : 'password' " 
			pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
			#newpassword = "ngModel"			
            class = "form-control" #newpasswordparam>
			<div class="alert alert-danger" *ngIf="newpassword.touched && !newpassword.valid">
                <div *ngIf="newpassword.errors.required">Pasvord je obavezan...</div>
                <div *ngIf="newpassword.errors.minlength">Pasvord mora sadrzati minimum 8 karaktera...</div>
                <div *ngIf="newpassword.errors.pattern">Pasvord se mora sastojati od malih i velikih slova, specijalnih karaktera
													i brojeva...</div>
			</div>
            <button (click)="s_h1=!s_h1"> {{!s_h1 ? "Show" : "Hide"}} password</button> 
    </div>
    
    <div class = "form-group">
        <label for ="confirmpassword">Confirm Password</label>
        <input
            ngModel
            required
            #confirmpassword = "ngModel"
            minlength="8"
            maxlength="18"
            name = "confirmpassword"
            id = "confirmpassword"
            [type] = "s_h1 ? 'text' : 'password' "
            class = "form-control" #confirmpasswordparam>
            <div class="alert alert-danger" *ngIf="confirmpassword.dirty && newpassword.value.length==0">Niste uneli pasvord...</div>
            <div class="alert alert-danger" *ngIf="confirmpassword.dirty 
                && (confirmpassword.value.length > newpassword.value.length || confirmpassword.value.length < newpassword.value.length
				|| (confirmpassword.value != newpassword.value 
                && confirmpassword.value.length == newpassword.value.length))">Pasvordi se ne poklapaju...</div>
	</div>
	<div class = "form-group">
	<button type ="button" class="button" [disabled]="!newpassword.valid || !newusername.valid || !email.valid || 
	(confirmpassword.dirty && newpassword.value.length==0) || (confirmpassword.dirty 
                && (confirmpassword.value.length > newpassword.value.length || confirmpassword.value.length < newpassword.value.length
				|| (confirmpassword.value != newpassword.value 
                && confirmpassword.value.length == newpassword.value.length)))" 
	(click)="checkSignUpInfo(emailparam.value, nameparam.value, surnameparam.value, newusernameparam.value, newpasswordparam.value, confirmpasswordparam.value)">Registruj se</button>   
	<div style= "color:red;"> {{signupmessage}}</div>
	</div>
	<div class = "form-group">
	<button type ="button" class="button" 
	(click)="changeToLogin()">Cancel</button>
	</div>
</form>