<div *ngIf="Screen1 && !Screen2 && !Screen3 && !Screen4 && !Screen5; then firstPage"></div>
<div *ngIf="!Screen1 && Screen2 && !Screen3 && !Screen4 && !Screen5; then secondPage"></div>
<div *ngIf="!Screen1 && !Screen2 && Screen3 && !Screen4 && !Screen5; then thirdPage"></div>
<div *ngIf="!Screen1 && !Screen2 && !Screen3 && Screen4 && !Screen5; then fourthPage"></div>
<div *ngIf="!Screen1 && !Screen2 && !Screen3 && !Screen4 && Screen5; then fifthPage"></div>
<ng-template #firstPage><app-welcome></app-welcome></ng-template>
<ng-template #secondPage><app-login></app-login></ng-template>
<ng-template #thirdPage><app-table></app-table></ng-template>
<ng-template #fourthPage><app-answer></app-answer></ng-template>
<ng-template #fifthPage><app-signup></app-signup></ng-template>

