<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="connstrng" connectionString ="Data Source=DESKTOP-DSSAV0H\RS2SERVER;Initial Catalog=VisokiNapon;Integrated Security=True;"/>
  </connectionStrings>
</configuration>
