<div class="container">
    <table *ngFor = "let round of BestCompetitorsArray; let i = index" align="center">
        <tr>    
            <td>
                <label class="label_name">
                    Pitanje
                </label> 
            </td>
            <td>
                <label class="label_amount">
                    Vrednost pitanja                   
                </label> 
            </td>
            <td>
                <label class="label_amount">
                    Unesi odgovor /input/                   
                </label> 
            </td>
            <td>
                <label class="label_amount">
                    Unesi sumu /input/                   
                </label> 
            </td>
            <td>
                <label class="label_amount">
                    Pošalji /button/                  
                </label> 
            </td>
        </tr>
    </table>
</div>