.container{
  position: absolute;
  top: 30px;
  left: 100px;
}

span{
  border-radius: 2px;
  border: 1px solid #d8dad7;
  background-color: #c97dc9;
  box-shadow: 2px 3px 3px #d8dad7;
  text-align: center;
}

.flex_display{
  display: flex;
}
