<div class="container">
    <div class="flex_display">
        <span>
            &nbsp;
            <b>Vaše korisničko ime:</b> 
            &nbsp; 
            <label id="tenderPlayerUsernameId"> {{CurrentUser}} </label>
            &nbsp;
        </span>
        <span>
            &nbsp;
            <b>Osvojena suma:</b> 
            &nbsp; 
            <label id="tenderAmountId">0</label>
            &nbsp;
        </span>
        <button (click)="quitTenderGame()">
            Napustite tender igru
        </button>
    </div>
    <div id="main_div" class="flex_display"></div>
</div>