<!DOCTYPE html>
<html>
<head>
    <title>Visoki napon</title>
    <style type="text/css">

        html {
            background: url("Images/questions-matrix-background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .value {
            width: 150px;
            height: 50px;
            position: absolute;
            top: 13%;
            left: 43%;
            background-color: #ccc2d6;
            border: 2px solid #dad8d7;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            font-size: 18px;
        }

        .question {
            width: 900px;
            height: 200px;
            position: absolute;
            top: 27%;
            left: 17%;
            background-color: #614e75;
            border: 2px solid #dad8d7;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 200px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
