.button{
  width: 150px;
  background-color: #614e75;
  border: 2px solid #dad8d7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: 1px solid #d8dad7;
  border-radius: 4px;
}

.value{
  width: 200px;
  height: 50px;
  top: 40px;
  left: 135px;
  position: fixed;
  background-color: #35373b;
  border: 2px solid #dad8d7;
  color: white;	
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0px 10px 10px #5d3c5d;
}

.feedback{
  width: 300px;
  height: 100px;
  position: fixed;
  top: 90px;
  left: 90px; 
  background-color: #35373b;
  color: white;	
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 18px;
  white-space: pre-wrap;
  border: 1px solid #d8dad7;
  border-radius: 1px;
}


.button:hover {
  background-color: #4c3d5c;
  border: 1.25px solid #918b88;
  box-shadow: 0px 15px 15px #5d3c5d;
}

.used{ 
  background-color: #ffb3b3;
  opacity: 0.85;
}


.clicked{ 
  background-color: #33293d;
}


.container{
  position: absolute;
  top: 30px;
  left: 100px;
}